extends ../layout

block content

	div(ng-controller="AdminController")


		div(flex)
			div.toolbar(layout="columm")
				div.choose-date(flex)
					md-datepicker(
						ng-model="data.date" 
						md-placeholder="Select a date"
					)
				div.export
					md-button.md-raised.md-primary(
						ng-click="downloadLastMonthCSV()"
				) Download last month's of Unexplained Absence

			md-list.absences(ng-hide="data.loading")
				md-list-item(
					ng-repeat="user in data.usersAbsent"
					class="{{user.awol ? 'unexplained':''}}"
				)					

					p(flex="70") {{ user.displayName }}

					div(flex="30")
						md-checkbox(
							ng-change="updateAwolStatus(user)"
							ng-model="user.awol"
						) Unexplained Absence