extends ../layout

block content

	div(ng-controller="AdminController")


		div()
			md-datepicker(
				ng-model="data.date" 
				md-placeholder="Select a date"
			)

			md-list(ng-hide="data.loading")
				md-list-item(

					ng-repeat="user in data.usersAbsent"
				)
					div.person(
						layout="row"
						flex
						ng-click="showConfirm($event, user)"
					)

						p(flex="70") {{ user.displayName }}
						p(flex="10") {{ user.id }}
						p(flex="10") {{ user.awol ? 'Unexplained' : 'Normal' }}